@{
    ViewData["Title"] = "Index";
}

@model List<Personel>
<h1>Index</h1>

<div class="container">

    <div class="row justify-content-end">
        @if (User.IsInRole("Admin"))
        {
            <div class="col-auto"> <a asp-controller="PersonelListele" asp-action="Create" class="btn btn-success"> Personel Ekle </a> </div>
        }

    </div>

    <div class="row">
        <div class="">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Yaş</th>
                        <th>Cinsiyet</th>
                        <th>İl</th>
                        <th>İlçe</th>
                        <th>Adres</th>
                        @if (User.IsInRole("Admin"))
                        {
                            <th>İşlemler</th>
                        }

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Ad</td>
                            <td>@item.Soyad</td>
                            <td>@item.Yas</td>
                            <td>@item.Cinsiyet</td>
                            <td>@item.Il</td>
                            <td>@item.Ilce</td>
                            <td>@item.Adres</td>

                            @if (User.IsInRole("Admin"))
                            {
                                <td>
                                    <span> <a asp-controller="PersonelListele" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning"> Sil </a>  </span>
                                    <span> <a asp-controller="PersonelListele" asp-action="Update" asp-route-id="@item.Id" class="btn btn-secondary"> Düzenle </a></span>
                                </td>
                            }
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>




